@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --tw-gradient-from: #4b5563;
  --tw-gradient-to: #111827;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
